<article class="m__panel m__panel--collapse c__betslip">
	<header class="m__panel__heading">

		test: {{md inc }} ende {{md var }} <br>
		

		{{#if globalVars.c-account-bets-show-header}}
			json data possible!<br>
			{{#if c-account-bets-show-header}}
				even this: {{c-account-bets-show-header}}
			{{else}}
				darn it - no local
			{{/if}}
		{{/if}}

		


		{{!-- name="Collapsible Panel" collapse="collapse-url" --}}

		 {{> cmp_betslip_action--collapse }}
	</header>
	<div class="m__panel__body">
		<div class="m__panel__content">
			<!-- build:remove:spring -->
			<div id="betslipCollapse" class="panel-collapse collapse in" tabpanel="" aria-labelledby="headingOne">
		<!-- /build -->
 					 {{> cmp_betslip_tabs}} 
					 {{!--include("main/cmp_betslip_summary.html") 
					 include("action/cmp_betslip_action--send.html")  --}}
		<!-- build:remove:spring -->
			</div>
		<!-- /build -->
		</div>
	</div>
</article>
<!-- cmp_betslip END -->
<!-- ############################ -->
