
<!-- ############################ -->
<!-- cmp_betslip action_collapse START -->

<a class="m__panel__collapse-link u__arrow-collapse"
							role="button" 
							data-toggle="collapse" 
							data-parent="#navside" 
							href="#{{betslip-collapse}}" 
							aria-controls="{{betslip-collapse}}"
							aria-expanded="false">

<span>{{ betslip-deep-collapse }}</span>
</a>
<!-- cmp_betslip action_collapse END -->
<!-- ############################ -->