---
page-title: Index Template!
site-class: "index"
classli: c__betslip-summary__seperator

intro: 
  name: 
  - 1the name 1
  - 1the name 2
  - 1the name 3


list: <% _.forEach(people, function(name) { %><li><%= name %></li><% }); %>
people:
- Jon Schlinkert
- Brian Woodward


conditional: true
conditional2: true

inc: 'templates/md/betslip.md'

betslip: Collapsible Panel, God Damnit!
betslip-collapse: Collapsible Text
collapse: collapse-url
betslip-deep-collapse: Top Down!

great: true 
magnificent: true 

var: templates/md/test.md

c-account-bets-show-header: different value possible? Oh shiny!

tpl: 'templates/partials/wrapme.hbs'

c-payment-list-type: mal schauen
m-form-password-css: look at dead chicken!
---

{{#panel2 "block" paneltitle="header-test" panelfooter="footer-test" }}
	{{>cmp_betslip  }}
{{/panel2}}


{{m-form-password-css}}

{{!-- {{> wrapme paneltitle= "Panel Header inline" panelfooter= "This footer" m-offcanvas-opt-title-main="Hauswette" }} --}}
{{!-- {{#panel paneltitle= "Panel Header inline" panelfooter= "This footer"}}{{/panel}} --}}
{{!-- {{> wrapme paneltitle="Panel Header inline2" panelfooter="This footer3" panelcontent="cmp_betslip_tabs" m-offcanvas-opt-title-main="inline Sportwetten"}} --}}


<ul>
{{#each intro.name }}
	<li>{{this}}</li>	
{{/each}}
	
</ul>