
<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <title>{{page-title}}</title>
    {{> head }}
  </head>
  <body {{#if site-class}} class="{{site-class}}"{{/if}}>
    {{> body }}
    {{!-- {{> header}} --}}
    {{!-- {{> nav}} --}}
    {{!--     {{#markdown}}
    [Visit Assemble] (http://github.com/assemble/assemble )
    {{/markdown}} --}}
{{!--     {{> cmp_betslip}}
    {{> content}}

    {{#if conditional}}
      conditional is {{ conditional }}
      {{#if conditional2}}
        sehr gut
      {{/if}}
    {{else}}
      noop!
    {{/if}} --}}

    {{!-- {{> footer}} --}}
    {{!-- {{> foot }} --}}
  </body>
</html>