<!-- ############################ -->
<!-- cmp_betslip-error START -->
<article class="m__panel m__panel--collapse c__betslip">
	<header class="m__panel__heading">
		{{!-- {{ include("action/cmp_betslip_action--collapse.html", {"name": "Wettschein(3)", "collapse": "betslipCollapse"}) }} --}}
	</header>
	<div class="m__panel__body">
		<div class="m__panel__content">
			<!-- build:remove:spring -->
			<div id="betslipCollapse" class="panel-collapse collapse in" tabpanel="" aria-labelledby="headingOne">
				<!-- /build -->
{{!-- 				{{ include("main/cmp_betslip_tabs-error.html") }}
				{{ include("main/cmp_betslip_summary.html") }}
				{{ include("main/cmp_betslip_error-messages.html") }} --}}
				<!-- build:remove:spring -->
			</div>
			<!-- /build -->
		</div>
	</div>
</article>
<!-- cmp_betslip-error END -->
<!-- ############################ -->
