<!--############################ -->
<!-- cmp_betslip placed START -->
<div class="c__betslip__content c__betslip-placed__content">
	<ul class="t__list--unstyle">
		<li>
			<div class="c__betslip-placed__message">
					<span class=".u__ok--success">Wette platziert</span>
			</div>
		</li>
	</ul>
<!-- summary -->
	<ul class="t__list--unstyle">	
		{{ include("../action/cmp_betslip_action--extrema.html") }}
		<li class="c__betslip-summary__seperator">
			<div class="c__betslip-summary__wrap">
				<label class="d__form-control__label c__betslip-summary__label">
					Einsatz
				</label>
				<span class="c__betslip-summary__multiplier">
					2 x
				</span>
				<span class="c__betslip-summary__input-no">6.60</span>
			</div>			

			<div class="c__betslip-summary__wrap">
				<label class="d__form-control__label c__betslip-summary__cell">
					Gesamt
				</label>
				<span class="c__betslip-summary__input-no">6.60</span>
			</div>			
		</li>
		<li class="c__betslip-summary__seperator">
			<div class="c__betslip-summary__wrap">
				<label class="d__form-control__label c__betslip-summary__cell">
					Gebühr
				</label>
				<span class="c__betslip-summary__input-no">6.60</span>
			</div>			
		</li>
		<li class="c__betslip-placed__bill">
			<div class="c__betslip-summary__wrap">
				<label class="d__form-control__label c__betslip-summary__cell">
					Gesamtpreis
				</label>
				<span class="c__betslip-summary__input-no">6.60</span>
			</div>			
		</li>
		<li class="c__betslip-summary__seperator">
			<div class="c__betslip-summary__wrap">
				<label class="d__form-control__label c__betslip-summary__cell">
					Gewinnchance
				</label>
				<span class="c__betslip-summary__input-no">6.60</span>
			</div>			
		</li>
	</ul>
</div>
{{ include("../action/cmp_betslip_action--recycle.html") }}
<!-- cmp_betslip placed END -->
<!-- ############################