<!-- ############################ -->
<!-- cmp_betslip chances START -->
<div class="c__betslip__action--extrema">
	<div class="c__betslip__wrap">
		<div class="c__betslip__cell">
			<span>Quote</span>
		</div>
		<div class="c__betslip__cell c__betslip__choice">
			<button class="c__betslip__button u__button u__button--default u__button--inline" type="button" value="rate_min">
				<span>Min</span>
			</button>
			<button class="c__betslip__button u__button u__button--default u__button--inline" type="button" value="rate_max">
				<span>Max</span>
			</button>
		</div>
		<div class="c__betslip__cell text-right">
			<span>520,00</span>
		</div>
	</div>
</div>
<!-- cmp_betslip chances 	END -->
<!-- ############################ -->