<!-- ############################ -->
<!-- cmp_betslip tabs START -->
<div class="m__panel-list__body">
		<div class="m__tabs m__tabs-list">
			{{ include("../action/cmp_betslip_action-error--tabs.html") }}
			{{ include("../action/cmp_betslip_action--delete.html") }}

<!-- build:remove:spring -->
			
				<div class="c__betslip__content c__betslip__error-content tab-content">
<!-- /build -->
<!-- build:remove:sites -->
			
				<div class="c__betslip__content c__betslip__error-content">
<!-- /build -->

						{{ include("../tabs/cmp_betslip_single-error.html") }}
						{{ include("../tabs/cmp_betslip_combi-error.html") }}
						{{ include("../tabs/cmp_betslip_system-error.html") }}

				</div>
		</div>
</div>
<!-- cmp_betslip tabs END -->
<!-- ############################ -->