<!-- build:remove:spring -->
<div id="tab1" class="tab-pane" role="tabpanel">
<!-- /build -->
<!-- build:remove:sites -->
<div role="tabpanel">
<!-- /build -->

	<ul class="t__list--unstyle">
		<li class="c__betslip-tabs__seperator">
			<div class="c__betslip__wrap c__betslip__topic">
				<div class="c__betslip__cell c__betslip-tabs__team-wrap">
						{{ include("../../../modules/lists/mod_list-match-fit.html", {"team1": "Juventus Turin", "team2": "FC Atletico Madrid"}) }}	
				</div>
				<a role="button" aria-label="close" class="u__delete-concrete u__delete--inverse t__cursor__pointer c__betslip__cell c__betslip-action__ui">
					löschen
				</a>
			</div>
			
			<div class="c__betslip-tabs__detail c__betslip__error-marker">
				<div class="c__betslip-tabs__type">
					<span>Reguläre Spielzeit beide treffen:</span>
				</div>
			
			
				<div class="c__betslip__wrap">
					<div class="c__betslip__cell c__betslip-tabs__choice">
						1
					</div>
					<span class="c__betslip__cell">
						2.80
					</span>
				</div>
							
				<div class="c__betslip__wrap c__betslip-tabs__bet-single">
					<label class="d__form-control__label c__betslip__cell c__betslip-tabs__label" for="">Einsatz</label>
					<input type="text" class="d__form-control__input-number c__betslip__error-input c__betslip__input form-control" id="exampleInputName2" placeholder="5.000,00" />
				</div>
			</div>
			<div class="c__betslip-tabs__detail">
			
				<div class="c__betslip-tabs__type">
					<span>1. Halbzeit Asien Handicap:</span>
				</div>
			
				<div class="c__betslip__wrap">
					<div class="c__betslip__cell c__betslip-tabs__choice">
						2
					</div>
					<span class="c__betslip__cell">
						2.80
					</span>
					<a role="button" aria-label="close" class="u__delete u__delete--inverse t__cursor__pointer c__betslip__cell c__betslip-action__ui">	löschen
					</a>
				</div>
			
				<div class="c__betslip__wrap c__betslip-tabs__bet-single">
					<label class="d__form-control__label c__betslip__cell c__betslip-tabs__label" for="">Einsatz</label>
					<input type="text" class="d__form-control__input-number c__betslip__input form-control" id="exampleInputName2" placeholder="5.000,00" />
				</div>			
			</div>
		</li>
	</ul>


</div>

<!-- /build -->
<!-- cmp_betslip single END -->
<!-- ############################ -->
