<!-- ############################ -->
<!-- cmp_betslip system START -->
<!-- build:remove:spring -->
<div id="tab3" class="tab-pane in active" role="tabpanel">
<!-- /build -->
<!-- build:remove:sites -->
<div role="tabpanel">
<!-- /build -->

	<ul class="t__list--unstyle">

		<li class="c__betslip-tabs__seperator">
			<div class="c__betslip__wrap c__betslip__topic">
				<div class="c__betslip__cell c__betslip-tabs__bank">
					<a role="button" class="t__cursor__pointer">B</a>
				</div>
				<div class="c__betslip__cell c__betslip-tabs__team-wrap">
						{{ include("../../../modules/lists/mod_list-match-fit.html", {"team1": "FSV Galatasaray", "team2": "FC Atletico Madrid"}) }}	
				</div>
			</div>
			<div class="c__betslip-tabs__detail">
				<div class="c__betslip-tabs__type">
					<span>Reguläre Spielzeit beide treffen:</span>
				</div>
				<div class="c__betslip__wrap">
					<div class="c__betslip__cell c__betslip-tabs__choice">
						1
					</div>
					<span class="c__betslip__cell">
						2.80
					</span>
					<a role="button" aria-label="close" class="u__delete u__delete--inverse t__cursor__pointer c__betslip__cell c__betslip-action__ui">	löschen
					</a>
				</div>
			</div>
			<div class="c__betslip-tabs__detail">
				<div class="c__betslip-tabs__type">
					<span>1. Halbzeit Asien Handicap:</span>
				</div>
				<div class="c__betslip__wrap">
					<div class="c__betslip__cell c__betslip-tabs__choice">
						1
					</div>
					<span class="c__betslip__cell">
						2.80
					</span>
					<a role="button" aria-label="close" class="u__delete u__delete--inverse t__cursor__pointer c__betslip__cell c__betslip-action__ui">	löschen
					</a>
				</div>
			</div>
		</li>

		<li class="c__betslip-tabs__seperator">
			<div class="c__betslip__wrap c__betslip__topic">
				<div class="c__betslip__cell c__betslip-tabs__bank  c__betslip-tabs__bank--active">
					<a role="button" class="t__cursor__pointer">B</a>
				</div>
				<div class="c__betslip__cell c__betslip-tabs__team-wrap">
							{{ include("../../../modules/lists/mod_list-match-fit.html", {"team1": "FSV Galatasaray", "team2": "Dormund"}) }}		
				</div>
			</div>
			<div class="c__betslip-tabs__detail">
				<div class="c__betslip-tabs__type">
					<span>1. Halbzeit Asien Handicap:</span>
				</div>
				<div class="c__betslip__wrap">
					<div class="c__betslip__cell c__betslip-tabs__choice">
						X
					</div>
					<span class="c__betslip__cell">
						2.80
					</span>
					<a role="button" aria-label="close" class="u__delete u__delete--inverse t__cursor__pointer c__betslip__cell c__betslip-action__ui">	löschen
					</a>
				</div>
			</div>
			<div class="c__betslip-tabs__detail">
				<div class="c__betslip-tabs__type">
					<span>Reguläre Spielzeit beide treffen:</span>
				</div>
				<div class="c__betslip__wrap">
					<div class="c__betslip__cell c__betslip-tabs__choice">
						1
					</div>
					<span class="c__betslip__cell">
						2.80
					</span>
					<a role="button" aria-label="close" class="u__delete u__delete--inverse t__cursor__pointer c__betslip__cell c__betslip-action__ui">	löschen
					</a>
				</div>
			</div>
		</li>
	</ul>
	<ul class="t__list--unstyle">
		<li class="c__betslip-tabs__seperator">
			
			<div class="c__betslip__wrap c__betslip__topic">
				<span class="c__betslip__cell">Systeme</span>
				<span class="c__betslip__cell c__betslip-summary__input-wrap text-left">Pro Wette</span>
			</div>

			<div class="c__betslip__wrap c__betslip__system">
				<div class="c__betslip__cell c__betslip__checkbox">
					<div class="checkbox">
						<input type="checkbox" id="wette1">
						<label class="d__form-control__label c__betslip__checkbox--valign" for="wette2">1/2</label>
					</div>
				</div>

				<label class="d__form-control__label  c__betslip__cell c__betslip__multiplier" for="exampleInputName2">4 x</label>
				<input type="text" class="c__betslip__cell c__betslip__input form-control" id="exampleInputName2" placeholder="5.000,00">

			</div>
			<div class="c__betslip__wrap c__betslip__system">
				<div class="c__betslip__cell">
					<div class="c__betslip__checkbox checkbox">
						<input type="checkbox" id="wette2">
						<label  class="d__form-control__label c__betslip__checkbox--valign" for="wette2">2/2</label>
					</div>
				</div>

				<label class="d__form-control__label c__betslip__cell c__betslip__multiplier" for="exampleInputName2">4 x</label>
				<input type="text" class="c__betslip__cell c__betslip__input form-control" id="exampleInputName2" placeholder="5.000,00">
			</div>
		</li>		
	</ul>
</div>
<!-- cmp_betslip system START -->
<!-- ############################ -->