<div class="c__betslip__error-dialog">


	<div class="c__betslip__cell c__betslip__error-cell"><strong>Die markierten Wetten sind nicht kombinierbar.</strong><br/></div>


	<div class="c__betslip__cell c__betslip__error-cell">
		<button type="button" class="c__betslip__button c__betslip__error-button u__button u__button--inline"><span>Wette löschen</span></button>
		<button type="button" class="c__betslip__button c__betslip__error-button u__button u__button--inline"><span>Markierte Wetten löschen</span></button>
	</div>


</div>