<!-- ############################ -->
<!-- cmp_betslip accept START -->
<!-- TODO: ADD spring/sites logic -->
<ul class="t__list--unstyle">
	<li class="c__betslip__action--proceed">
		<div class="c__betslip__wrap c__betslip__checkbox">
			<span class="checkbox">
				<input type="checkbox">
				<!-- build:remove:spring -->
				<label for="checkbox0" class="d__form-control__label c__betslip__checkbox--valign" data-toggle="tooltip" data-placement="top" title="Ich stimme zu, die Wette(n) zu platzieren, auch wenn sich etwaige Quoten bei der Bestätigung und/oder Überprüfung geändert haben.">
				<!-- /build -->
				<!-- build:remove:sites -->
				<label for="checkbox0" class="d__form-control__label c__betslip__checkbox--valign" title="Ich stimme zu, die Wette(n) zu platzieren, auch wenn sich etwaige Quoten bei der Bestätigung und/oder Überprüfung geändert haben.">
				<!-- /build -->
					Quotenänderungen akzeptieren
				</label>
			</span>
		</div>
	</li>	
</ul>
<!-- cmp_betslip accept END -->
<!-- ############################ -->