<!-- ############################ -->
<!-- mod_tabs_betslip START -->
<ul class="c__betslip-action__nav" role="tablist">
	
	<li role="presentation" class="c__betslip__li">

<!-- build:remove:spring -->
	
		<a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Einzel</a>
<!-- /build -->
<!-- build:remove:sites -->

		<a aria-controls="tab1" role="tab" class="t__cursor__pointer">Einzel</a>
<!-- /build -->

	</li>
	
	<li class="c__betslip__li" role="presentation">

<!-- build:remove:spring -->

		<a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Kombi</a>

<!-- /build -->
<!-- build:remove:sites -->

		<a aria-controls="tab2" role="tab"  class="t__cursor__pointer">Kombi</a>

<!-- /build -->

	</li>
	<li class="c__betslip__li c__betslip-action__li--active" role="presentation">

<!-- build:remove:spring -->

		<a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">System</a>

<!-- /build -->
<!-- build:remove:sites -->

		<a aria-controls="tab3" role="tab"  class="t__cursor__pointer">System</a>

<!-- /build -->

	</li>
</ul>
<!-- mod_tabs_betslip END -->
<!-- ############################ -->