<!-- ############################ -->
<!-- cmp_betslip extrema START -->
<li class="c__betslip__action--extrema">
	<div class="c__betslip__wrap">

		<span class="c__betslip__cell c__betslip-action__label">Quote</span>

		<div class="c__betslip__cell c__betslip__choice">
			<button class="c__betslip__button u__button u__button--inline u__button__color--first" type="button" value="rate_min">
				<span>Min</span>
			</button>
			<button class="c__betslip__button u__button u__button--inline u__button--default" type="button" value="rate_max">
				<span>Max</span>
			</button>
		</div>

		<span  class="c__betslip__cell">520,00</span>
	</div>
</li>
<!-- cmp_betslip extrema 	END -->
<!-- ############################ -->